@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--color-ellis-green-50: #f2fcf9;
	--color-ellis-green-100: #dff7f0;
	--color-ellis-green-200: #c0efe3;
	--color-ellis-green-300: #93e2d0;
	--color-ellis-green-400: #60cbb6;
	--color-ellis-green-500: #3bb09b;
	--color-ellis-green-600: #2d8f7f;
	--color-ellis-green-700: #267368;
	--color-ellis-green-800: #225c54;
	--color-ellis-green-900: #1f4c46;

	--font-sans: "Inter", sans-serif;
	--font-serif: "Instrument Serif", serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
